.container {
    text-align: center;
}

article {
    position: relative;
    padding: 0 1em;
    border: 1px solid #BED194;
    margin-bottom: 3em;
    border-radius: 5px;
}

article {
    position: relative;
    padding: 0 1em;
    border: 1px solid #BED194;
    margin-bottom: 3em;
    border-radius: 5px;
}